<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <httpProtocol>
            <customHeaders>
                <add name="Content-Security-Policy" value="default-src 'self' https://localhost:8402; report-uri https://webhook.site/713045de-6ad1-41fb-8a8a-03bd4a80a25c" />
            </customHeaders>
        </httpProtocol>
    </system.webServer>
</configuration>
